{% block navbar %}
<div class="navbar{{ (navbar.hasOption('inverse') and  navbar.getOption('inverse')) ? ' navbar-inverse' : '' }}{{ (navbar.hasOption('fixedTop') and  navbar.getOption('fixedTop')) ? ' navbar-fixed-top' : '' }}">
    <div class="navbar-inner">
        <div class="container{{ (navbar.hasOption('isFluid') and navbar.getOption('isFluid')) ? '-fluid' : '' }}">
            {% if navbar.hasOption('title') %}<a class="brand" href="{{ path(navbar.getOption('titleRoute')) }}">{{ navbar.getOption('title') }}</a>{% endif %}
            <div class="nav-collapse">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="nav pull-left">
                        <li>
                            <a href="{{ path('admin_user_index') }}"><i class="icon-user icon-white"></i> Users</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_cms_page_index') }}"><i class="icon-file icon-white"></i> CMS</a>
                        </li>
		    </ul>
                    
                    
                    <ul class="nav pull-right">
                        <li>
                            <a href="{{ path('home_index') }}" target="_blank"><i class="icon-globe icon-white"></i> Accès au site</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_config_index') }}"><i class="icon-wrench icon-white"></i> Paramètres</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_logout') }}"><i class="icon-off icon-white"></i> Se déconnecter</a>
                        </li>
                    </ul>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block form_widget %}
{{ block('field_rows') }}
{% endblock %}

{% block field_row %}
{{ form_widget(form) }}
{% endblock field_row %}
